/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mix */
body {
  background-color: #fff5e2;
}

.wrapper {
  width : 50%;
  height: 100vh;
  position: relative;
}

header {
  background-color: #fdbb40;
  height: 15vh;
  padding: 40px 50px 30px 50px;

}

main {
  background-color: #fff;
  height: 75vh;
  padding: 40px 50px 30px 50px;
}

footer {
  background-color: #d33359;
  height: 10vh;
  padding: 0 50px;
}

/* Typo */
h1 {
  font-weight: bolder;
}

h2 {
  margin-bottom: 20px;
}

/* main */
#burger-name-input {
  font-size: 25px;
  border: 0;
  margin-bottom: 30px;
  width: 500px;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}

#burger-name-input:focus {
  outline: none;
  border: 1px solid lightgrey;
}

#check-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#check-list li {
  width: 50%;
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

#check-list li img {
  width: 40px;
    margin-right: 20px;

}

/* checkboxes */
.ingredient {
  -webkit-appearance: none;
	background-color: red;
	border: 1px solid #cacece;
  padding: 7px;
	border-radius: 3px;
  vertical-align: bottom;
  position: relative;
  margin: 0 10px;
}

.ingredient:focus {
  outline: none;
}

.ingredient:checked {
	background-color: #e9ecee;
	color: #99a1a7;
}

.ingredient:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -9px;
	left: 3px;
	color: black;
  font-size: 25px;
	left: 0px;
}


/* coupon */
.coupon-container {
  margin: 30px 0;
}

.coupon-container label {
  font-weight: bold;
}

#coupon-input {
  margin-left: 30px;
  width: 500px;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff5e2;
  border: 0;
}

#coupon-input:focus {
  outline: none;
}



/* bottone di calcolo */
.button-container {
  text-align: center;
}

#button-calculate {
  padding: 15px 25px;
  border-radius: 7px;
  border: 0;
  font-weight: bolder;
  color: black;
  background-color: #fdbb40;
}

#button-calculate:active {
  outline: none;
  border: 1px solid black;
}

#button-calculate:focus {
  outline: none;
}
/* /Main */

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

footer h4 {
  font-size: 25px;
  font-weight: 600;
}

#total {
  font-size: 30px;
  font-weight: bolder;
}
/* /footer */

/* icona hamburgher */
.wrapper:after {
  content: "";
  background-image: url('../img/burger-top.png');
  background-size: contain;
  position: absolute;
  right: -50px;
  top: -30px;
  width: 180px;
  height: 180px;
  display: block;
  background-color: #fdbb40;
  border-radius: 50%;
}
